.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: circle;
  padding: 4px 0;

  font-size: 18px;
}
.button {
  width: 60px;
  font-size: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 3px;
  padding: 2px;
  margin-right: 10px;
  border: 1px solid black;
  &:hover {
    color: rgb(220, 50, 50);
    border-color: rgb(220, 50, 50);
  }
}
